//Make print button fixed
.scorecard_cont{
    .scorecard_view{       
        .print_btn{
            position: fixed;
            top: 13rem;
            left: 90%;
            
        }
    }
   
}