.mission_card {

    height: fit-content!important;

    .card_btn {
        width: 134px;
    }

    .form-control {
        width: 359px;
    }

    .inputs_row {
        margin-left: 0px;
    }
    
}