.signoff {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    display: none;
    float: right;

    .name {
        margin-right: 70px;
    }



    .label {
        font-weight: 600;
        padding-right: 20px;

    }

}