.upload_org_card {

    margin-bottom: 10px!important;
    
    .sample_csv {
        margin: 14px 0px 21px 0px;
    }

    .card_btn {
        margin-right: 23px;
    }

    .blue_text {
        color: #2D9CDB;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        cursor: pointer;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: none;
              
            }
        }
    }

}