.members_container {
    margin: 0 20px;
    position: relative;
    margin-top: 180px;    
    
    .members_nav_cont {
        position: fixed;
        top: 61px;
        width: 72%;
        min-width: 1020px;
        z-index: 999;
        height: 120px;
        padding-top: 20px; 
        background-color: #E6ECF2;
        border-bottom: #E6ECF2 2px solid;
    }
    .members_content{               
        width: 98.5%;       
            .dashboard_btns{               
                    position: fixed;
                    top: 13rem;
                    left: 87%;
                    z-index: 1000;       
               
            }              
    }

    .board_message {
        padding: 20px;
        width: 100%;
        font-size: 26px;
    }
    

}

