.employee_name {
    svg {
        fill: black!important;
        height: 13px;
        width: 13px;
        background-color: #D9D9D9;
        vertical-align: middle;
        border-radius: 50%;
    }

    font-weight: 650;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.035em;
    color: #828282;
    
}
