.search_box_cont {
    margin-bottom: 30px;
    position: relative;

    .search_cont {
        margin-top: 10px;
        height: 33px;
        border: 1px solid #BDBDBD;
        padding: 2px 0px 2px 11px;
        width: 80%;
        border-radius: 5px;
    
        svg {
            height: 20px;
            margin-right: 2px;
            color: #BDBDBD;
        }
        .close-icon {
            float: right;
            cursor: pointer!important;;
            height: 25px!important;
        }
    
        .search_box {
            width: 82%;
            border: none;
        }
    
    }
    
    .search_list {
            overflow-y: scroll;
            position: absolute;
            top: 35px;
            padding: 5px 10px 8px 33px;
            width: 270px;
            height: auto;
            z-index: 1100;
            background-color: #d6d6d6;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            .role {
                width: 100%;
            }

        }
    
}