.dashboards_tab {
    padding-top: 30px!important;

    
}

.charts {
    margin-left: 10px;
    width: 100%;
    padding-right: 0px;

    .actual {
        margin-right: 10px;
    }
}

.quick_overview {
    margin-bottom: 10px;
    padding: 0px 10px 10px 20px;

    .status {
        text-transform: capitalize;
        font-weight: 700;
    }

    .perspective_no {
        padding: 10px 0 10px 0;
    }
}

.children {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.035em;
    text-transform: capitalize;
    padding-bottom: 10px;

    .header {
        color: #828282;
    }

    .children_list>:nth-child(odd) {
        background: #F2F2F2;
    } 
    .child {
        height: 41px;
        text-transform: capitalize;
        font-weight: 400;
        color: #4F4F4F;
    }

    .status {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 13px;
        margin-top: 8px;
    }
}
