.overview_tab {
    .dashboards_tab {
        padding-top: 0!important;
    }

    .charts {
        margin-left: 0!important;
    }
}

.personal_data {
    margin-top: 10px;
    margin-bottom: 10px;

    .content {
        padding: 20px 20px 30px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #828282;

        .label {
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
        }

        .top_row {
            margin-bottom: 15px;
        }
    }
}
