.sidebar {
    padding: 0px 0px;
    font-weight: 500;
    color: #828282;
    position: relative;

  .row {
    height: 45px;
    
    cursor: pointer;
    position: relative;


    a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        color: inherit;
        align-items:center;
        padding: 0;
        display: flex;
        padding: 0px 45px;

        &:focus {
            background: linear-gradient(89.76deg, rgba(255, 255, 255, 0.8) 37.69%, rgba(255, 255, 255, 0) 89.5%);
            font-weight: 700;
            color: #000;
        }

        
    }

    .selected {
        background: linear-gradient(89.76deg, rgba(255, 255, 255, 0.8) 37.69%, rgba(255, 255, 255, 0) 89.5%);
        font-weight: 700;
        color: #000;
    }

    &:hover {
        font-weight: 700;
        color: #000;
    }    

    .blue_rectangle {
        position: absolute;
        max-width: 6px!important;
        max-width: 6px!important;
        height: 45px;
        left: 0px;
        visibility: hidden;

        .inside_blue_rect {
            background-color: #035476;
            position: absolute;
            width: 6px;
            height: 45px;
            float: left;
            left: 0px;
        }

    }

    
}

    .row:hover  .blue_rectangle {
        visibility: visible;
    }

    .selected  .blue_rectangle {
        visibility: visible;
    }

    a:focus  .blue_rectangle {
        visibility: visible;
    }

.sidebar_footer {
    position: relative;
    padding-left: 50px;
    margin-top: 60px;

    
}   

}

