@import "../../../assets/scss/_colors";

.upload_logo_card {
    width: 100%;
    height: 146px;
    border: none;
    margin-bottom: 29px;
    padding: 20px 49px;

    .card_title {
        margin-bottom: 23px;
    }
}
