@import "../../../assets/scss/colors";

.auth_modal {
   
    .auth_model_content {

        width: 583px;
        height: 583px;
        background: #FFFFFF;
        box-shadow: 4px 4px 25px -7px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        border: none;

        .auth_title {
            font-weight: 700!important;
            text-align: center;
            font-size: 24px;
            line-height: 28px;
            color: #000;
            margin-top: 79px;
            margin-bottom: 30px;
        }

        .auth_modal_body {
            margin: auto;
            width: 312px;
            color: #828282;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
    
            input {
                width: 312px;        
            }

            .password_group {
                height: 100px;
            }

            .email_group {
                height: 100px;
            }

            .login_btn {
                background: $btn-background;
                width: 312px;
            }

            .auth_help_text {
                color: rgb(2, 88, 235);
                font-size: 12px;
                cursor: pointer;
            }
        }
        
    }

}

.modal_backdrop {
    background: #D8D8D8;
    opacity: 0.5!important;
    top: 60px;
}