.upload_btn {
    .blue_text {
        color: #2D9CDB;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-left: 23px;
        text-align: center;
    }

    .red_text {
        color: red;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-left: 23px;
        text-align: center;
    }

    .green_text {
        color: #07bc0c;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-left: 23px;
        text-align: center;
    }
}
