.upload_btn {
    .blue_text {
        color: #2D9CDB;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-left: 23px;
        cursor: pointer;
        text-align: center;
    }
}
