.org_chart_cont {
    .org_row {
        height: 35px;

    }

    .tree__node {
        margin-left: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-top: 1px solid #f1eaea;
    }

    .name_title {
        padding-left: 10px!important;
    }

    .employee_details {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.035em;
        width: 500px;

        float: right;
        color: #4F4F4F;

        .employee_detail {
           
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.035em;
            color: #4F4F4F;
        }
    }

    .titles_card {
        margin-bottom: 5px!important;
        padding: 10px 49px;
        justify-content: space-between;
        display: flex;
        border: none;

        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */

        letter-spacing: 0.035em;

        /* Gray 3 */

        color: #828282;

        .emp_title {

        }
        
    }

    .org_chart_title {
        margin-bottom: 10px;
        margin-left: 49px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #828282;
    }

}
