.view_scorecard {
    padding-bottom: 10px;

    .perspectives>:nth-child(odd) {
        background: #F2F2F2;
    }

    .staff_card {
        
        .perspective {
            margin-left: 0;
            padding: 5px 0px;
        }

        .name {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.035em;
            color: #828282;
        }
        
        .objectives>:nth-child(odd) {
            background: #F2F2F2;
        } 
        
    }

    .weight {
        font-size: 15px;
    }
}

.header {
    margin-left: 0;
    background: #fff;
    height: 45px;
    padding: 10px 35px;
    margin-bottom: 10px;
    margin-right: 0;

    .name {
        margin-left: 15px!important;
    }
    .measure {
        text-align: center;
    }

    .second_half {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.035em;
        color: #4F4F4F;
    }
}

.score {
    font-weight: 700;
    font-size: 18px;
}

.row {
    margin-left: 0;
    padding-left: 0;
}

.second_half{
    .row {
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
    }

    .col {
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
    }
}

.objective {

    .initiatives>:nth-child(odd) {
        background: #F2F2F2;
    } 
    border-top: #F2F2F2 2px solid;

    .first_half {
        .objective_row {
            padding-left: 20px;
        }
    }
    
    .measure {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.035em;
        color: #070707;
    }

    .status {
        font-size: 14px;
        text-transform: capitalize;
    }

    .approved {
        color: rgb(4, 211, 7);
    }
    
    .rejected {
        color: rgb(243, 3, 3);
    }

    .pending {
        color: rgb(222, 201, 6);
    }

}

.initiative {
    .initiative_row {
        padding-left: 40px!important;
    }
}

.thumbnail {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
} 

.row {
    padding-right: 0!important;
}

.name {
    cursor: pointer;
    text-transform: capitalize;
}

.type {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.035em;
    color: #828282;
    margin-left: 20px;

}
