
.hidden {
    display: none;
}

.not_hidden {
    display: flex;
}

.white_bg {
    background-color: #fff!important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.good {
    background: #16C046;
}

.poor {
    background: #F21212;
}

.satisfactory {
    background: #FFA800;
}

textarea:focus, input:focus, button:focus{
    outline: none!important;
}
